[Unit]
Description=Run daily airlock jobs
Wants=airlock_runjobs.timer

[Service]
WorkingDirectory=/home/opensafely/airlock
ExecStart=/usr/local/bin/just runjobs daily
User=opensafely
Type=oneshot

[Install]
WantedBy=multi-user.target
