[Unit]
Description=Update release-hatch service
Wants=release-hatch.timer

[Service]
WorkingDirectory=/home/opensafely
ExecStart=/home/opensafely/release-hatch/deploy.sh
User=opensafely
Type=oneshot

[Install]
WantedBy=multi-user.target
