[Unit]
Description=Update release-hatch service
Wants=release-hatch.timer

[Service]
WorkingDirectory=/home/opensafely/release-hatch
ExecStart=/usr/local/bin/just deploy
User=opensafely
Type=oneshot

[Install]
WantedBy=multi-user.target
