[Unit]
Description=Update release-hatch service
Wants=release-hatch.timer

[Service]
WorkingDirectory=/home/jobrunner
ExecStart=/home/jobrunner/release-hatch/deploy.sh
User=jobrunner
Type=oneshot

[Install]
WantedBy=multi-user.target
