[Unit]
Description=OpenSAFELY Jobrunner
Documentation=https://github.com/opensafely-core/job-runner

[Service]
WorkingDirectory=/home/opensafely/jobrunner/
ExecStart=/usr/local/bin/just deploy
User=opensafely
Type=oneshot

[Install]
WantedBy=multi-user.target
