[Unit]
Description=OpenTelemetry Collector
Documentation=https://github.com/opensafely-core/backend-server

[Service]
EnvironmentFile=/home/jobrunner/environ/01_defaults.env
EnvironmentFile=/home/jobrunner/environ/02_secrets.env
EnvironmentFile=/home/jobrunner/environ/03_backend.env
EnvironmentFile=/home/jobrunner/environ/04_local.env
WorkingDirectory=/home/jobrunner/collector
ExecStart=/home/jobrunner/collector/collector --config /home/jobrunner/collector/collector.yaml
ExecStop=/bin/kill -INT ${MAINPID}
User=jobrunner
Group=jobrunner
Restart=on-failure
RestartSec=60s


[Install]
WantedBy=multi-user.target
