[Unit]
Description=Run vmp-mapping.sh on a regular shedule
Requires=vmp-mapping.service

[Timer]
OnCalendar=weekly
Unit=vmp-mapping.service

[Install]
WantedBy=timers.target
