[Unit]
Description=Update VMP mapping table
Wants=vmp-mapping.timer

[Service]
EnvironmentFile=/home/opensafely/config/01_defaults.env
EnvironmentFile=/home/opensafely/config/02_secrets.env
EnvironmentFile=/home/opensafely/config/03_backend.env
EnvironmentFile=/home/opensafely/config/04_local.env
WorkingDirectory=/home/opensafely
ExecStart=/home/opensafely/timers/vmp-mapping/vmp-mapping.sh
User=opensafely
Type=oneshot

[Install]
WantedBy=multi-user.target
