[Unit]
Description=Run release-hatch update regularly
Requires=release-hatch.service

[Timer]
OnUnitActiveSec=3min
Unit=release-hatch.service

[Install]
WantedBy=timers.target
